*.a
*.o
*.so
*.exe
*.lib
skynet
Library/metadata*
Library
Temp/*
/*.csproj
/*.suo
/Library/metadata/00/*.info
/Library/metadata/3c/*.info
/Library/metadata/7c/*.info
/Library/metadata/8e/*.info
/Library/metadata/ad/*.info
/*.sln
/ProjectSettings
/GameCore/GameCore/x64/Debug/*.obj
/GameCore/GameCore/Debug/GameCore.tlog/*.tlog
/GameCore/GameCore/Debug/*.obj
*.tlog
*.log
*.ilk
*.suo
GameCore/x64/Debug/
GameCore/GameCore/x64/Debug/vc120.idb
GameCore/GameCore/Debug/
*.pdb
*.filters
*.vcxproj
obj/Debug/
